# Normalize line endings
* text=auto

# Treat Markdown and HTML files as UTF-8
*.md text eol=lf
*.html text eol=lf

# Handle common frontend file types
*.svelte text eol=lf
*.ts text eol=lf
*.js text eol=lf
*.css text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.xml text eol=lf

# Set linguist language override
*.svelte linguist-language=HTML